body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 20px;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 14px;
    text-align: center;
    max-width: 100px;
}

a[href*="/"] {
    background: #E25858;
    color: white;
}

a[href*="criar"],
a[href*="consultar"] {
    display: inline-block;
    background: #92B35A;
    color: white;
}
.botoes {
    display: flex;
    justify-content: center;
    font-weight: bold;
}
